---
- name: Create temp NGINX config
  template:
    src: default.j2
    dest: "/etc/nginx/conf.d/{{ server_name }}.temp.conf"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0644
- name: Check NGINX configuration
  command: nginx -t
  args:
    chdir: /etc/nginx/
  register: config_check
  ignore_errors: true
- name: Delete temp NGINX config
  file:
    path: "/etc/nginx/conf.d/{{ server_name }}.temp.conf"
    state: absent
- name: Print NGINX syntax check output
  debug:
    var: config_check.stderr_lines
  failed_when: config_check.rc != 0
  when: config_check.stderr_lines is defined
- name: Create NGINX config
  template:
    src: default.j2
    dest: "/etc/nginx/conf.d/{{ server_name }}.conf"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: 0644
- name: Reload NGINX
  service:
    name: nginx
    state: reloaded
